<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dj.doublebass" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DoubleBass</name>
    <description>
        An educational application for the Double Bass, updated to be cross-platform using Apache Cordova
    </description>
    <author email="cork1357@gmail.com" href="http://cordova.io">
        Cory Williams
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
